.bi-hand-index-fill::before {
   opacity: 0.9;
   animation: wave 4s infinite;
   scale: 90%;
}

/* cards */
#cardHolder {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(100%, 225px), 1fr));
   gap: 10px;
   padding: 10px;
   opacity: 0.8;
   outline: 1px solid;
   opacity: 0.5;
}

/* .card {
// 	position: relative;
// 	max-width: 300px;
// 	padding: 1rem;
// 	background-color: var(--clr-card-bg);
// 	border-block-start: 0.5rem solid;
// 	border-radius: 0.5rem;
// 	opacity: 0.6;
// 	box-shadow: 3px 3px 2px 2px var(--clr-heading);
// 	cursor: pointer;
 }*/

.myCard:hover,
:focus {
   filter: brightness(100%);
   scale: 110%;
}

/* From Uiverse.io by htwarriors108 */
.myCard {
   background-color: transparent;
   width: 190px;
   height: 254px;
   perspective: 1000px;
   position: relative;
   max-width: 300px;
   padding: 1rem;
   background-color: var(--clr-card-bg);
   border-block-start: 0.5rem solid;
   border-radius: 0.5rem;
   opacity: 0.6;
   box-shadow: 3px 3px 2px 2px var(--clr-heading);
   cursor: pointer;
}

.title {
   font-size: 1.5em;
   font-weight: 900;
   text-align: center;
   margin: 0;
}

.innerCard {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
   cursor: pointer;
   /* overflow: hidden; */
}

.myCard:hover .innerCard {
   transform: rotateY(180deg);
}

.frontSide,
.backSide {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   border: 1px solid rgba(255, 255, 255, 0.8);
   border-radius: 1rem;
   color: white;
   box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
   font-weight: 700;
   overflow: hidden;
}

.frontSide,
.frontSide::before {
   background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
   background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
   transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   content: '';
   width: 110%;
   height: 110%;
   position: absolute;
   z-index: -1;
   border-radius: 1em;
   filter: blur(20px);
   animation: animate 5s linear infinite;
}

@keyframes animate {
   0% {
      opacity: 0.3;
   }

   80% {
      opacity: 1;
   }

   100% {
      opacity: 0.3;
   }
}